.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.container_md {
  max-width: 1050px;
  margin: 2rem auto;
  & p {
    max-width: 550px;
  }
}

.mg-top_single {
  margin-top: 1rem;
}

@media (--phone) {
  .hide_phone {
    display: none !important;
  }
}

@media (--noteUp) {
  .hide_note-up {
    display: none !important;
  }
}

@media (--tabletUp) {
  .hide_tablet-up {
    display: none !important;
  }
}
