.content__card {
  background: white;
  box-shadow: var(--shadow3);
  border-radius: calc(var(--multiplier) * 10);
  align-self: flex-start;
  font-size: calc(var(--multiplier) * 7);
}

.content__container {
  padding: 20px 32px;
}

.content__wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 350px));
}

.content__author {
  justify-content: space-between;
  color: #2611A2;
  font-weight: 600;
}

.content__photo {
  max-width: 32px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: .5em;
}

.content__footer {
  display: flex;
  justify-content: space-between;
}